
/* 
.post1 p{
  position: absolute;
  left: 56%;
  top: 14%;
}
.post1 h1{
  position: absolute;
  left: 56%;
  top: 8%;
}
.post2 p{
  position: absolute;
  left: 56%;
  top: 38%;
}
.post2 h1{
  position: absolute;
  left: 56%;
  top: 32%;
} */